<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Verses</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>KeepCalm.ttf</string>
		<string>SourceSansPro-Bold.otf</string>
		<string>SourceSansPro-Regular.otf</string>
		<string>Montserrat-Bold.ttf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.pierceboggan.verses</string>
	<key>CFBundleVersion</key>
	<string>0.0.4</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-60@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-40@2x</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<string>YES</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>0</real>
				<key>Green</key>
				<real>0</real>
				<key>Blue</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
</dict>
</plist>
