<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Verses</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>57</string>
		<string>114</string>
		<string>120</string>
		<string>29</string>
		<string>58</string>
		<string>80</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>KeepCalm.ttf</string>
		<string>SourceSansPro-Bold.otf</string>
		<string>SourceSansPro-Regular.otf</string>
		<string>Montserrat-Bold.ttf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.pierceboggan.verses</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
</dict>
</plist>
