<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Verses</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>KeepCalm.ttf</string>
		<string>SourceSansPro-Bold.otf</string>
		<string>SourceSansPro-Regular.otf</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.pierceboggan.verses</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>BackgroundImage</key>
			<string></string>
		</dict>
	</dict>
	<key>CFBundleVersion</key>
	<string>0.0.3</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
</dict>
</plist>
